In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('naukri_23-Jan-2023.csv')

In [3]:
df.head()

,job_id,role,link,company,company_rating,reviews,exp_req,salary,locations,job_posted,domains
0,2.001230e+11,Fresher - voice / NON -voice,https://www.naukri.com/job-listings-fresher-vo...,Cognizant,3.9,29897 Reviews,0-0 Yrs,"1,00,000 - 1,75,000 PA.","Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",2 Days Ago,"['BPO', 'non voice process', 'Customer Service..."
1,2.201230e+11,React JS,https://www.naukri.com/job-listings-react-js-t...,Tata Consultancy Services (TCS),3.9,50817 Reviews,3-6 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Today,"['React.Js', 'React JS']"
2,2.001240e+11,HR Programs & Operations Manager,https://www.naukri.com/job-listings-hr-program...,Accenture,4.1,32477 Reviews,5-9 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",2 Days Ago,"['Service delivery', 'Consulting', 'Flex', 'Ma..."
3,2.001240e+11,Sales Excellence- COE - Modeling & Analysis As...,https://www.naukri.com/job-listings-sales-exce...,Accenture,4.1,32477 Reviews,4-8 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",2 Days Ago,"['Data analysis', 'Project management', 'Consu..."
4,2.001240e+11,Sales Excellence - COE - Data Engineering Spec...,https://www.naukri.com/job-listings-sales-exce...,Accenture,4.1,32477 Reviews,3-5 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",2 Days Ago,"['Project management', 'Consulting', 'Sales pr..."

In [4]:
df.drop('job_id',axis=1,inplace=True)

In [5]:
df.head()

,role,link,company,company_rating,reviews,exp_req,salary,locations,job_posted,domains
0,Fresher - voice / NON -voice,https://www.naukri.com/job-listings-fresher-vo...,Cognizant,3.9,29897 Reviews,0-0 Yrs,"1,00,000 - 1,75,000 PA.","Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",2 Days Ago,"['BPO', 'non voice process', 'Customer Service..."
1,React JS,https://www.naukri.com/job-listings-react-js-t...,Tata Consultancy Services (TCS),3.9,50817 Reviews,3-6 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",Today,"['React.Js', 'React JS']"
2,HR Programs & Operations Manager,https://www.naukri.com/job-listings-hr-program...,Accenture,4.1,32477 Reviews,5-9 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",2 Days Ago,"['Service delivery', 'Consulting', 'Flex', 'Ma..."
3,Sales Excellence- COE - Modeling & Analysis As...,https://www.naukri.com/job-listings-sales-exce...,Accenture,4.1,32477 Reviews,4-8 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",2 Days Ago,"['Data analysis', 'Project management', 'Consu..."
4,Sales Excellence - COE - Data Engineering Spec...,https://www.naukri.com/job-listings-sales-exce...,Accenture,4.1,32477 Reviews,3-5 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",2 Days Ago,"['Project management', 'Consulting', 'Sales pr..."

In [43]:
df['min_exp'] = df['exp_req'].apply(lambda x: str(x).split('-')[0] if x != 'NA' else 'NA').astype('float64')
df['max_exp'] = df['exp_req'].apply(lambda x: str(x).split('-')[1].split(' ')[0] if x not in ['NA', np.nan] else 'NA')

In [45]:
new_df = df.loc[(df['min_exp'] <= 3)]

In [49]:
new_df.reset_index(drop = True, inplace = True)

In [50]:
filtered = new_df.loc[df['role'].apply(lambda x: True if 'Data' in x or 'Analyst' in x or 'Science' in x or 'data' in x or 'analyst' in x else False)]

In [52]:
filtered.reset_index(drop=True,inplace=True)

In [53]:
filtered

,role,link,company,company_rating,reviews,exp_req,salary,locations,job_posted,domains,min_exp,max_exp
0,Sales Excellence CoE Application Development A...,https://www.naukri.com/job-listings-sales-exce...,Accenture,4.1,32477 Reviews,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",2 Days Ago,"['Data analysis', 'Business analysis', 'Consul...",3.0,7
1,Contract Specialist,https://www.naukri.com/job-listings-contract-s...,Accenture,4.1,32477 Reviews,3-6 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",2 Days Ago,"['Contract management', 'Process efficiency', ...",3.0,6
2,Content Development Manager,https://www.naukri.com/job-listings-content-de...,Accenture,4.1,32477 Reviews,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4 Days Ago,"['Brand positioning', 'Campaign management', '...",3.0,7
3,Metals & Mining - Business consulting,https://www.naukri.com/job-listings-metals-min...,KPMG India,3.8,3960 Reviews,3-8 Yrs,Not disclosed,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",5 Days Ago,"['metals', 'mining', 'strategy', 'business con...",3.0,8
4,Associate Software Engineer - Freshers,https://www.naukri.com/job-listings-associate-...,Trigyn Technologies,3.8,102 Reviews,0-1 Yrs,Not disclosed,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)",4 Days Ago,"['Java', 'Python', 'time management', 'C', 'co...",0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3129,"Experience with Python, R, VBA, or Matlab (Wor...",https://www.naukri.com/job-listings-experience...,SM Informatics Controls,NaN,NaN,3-8 Yrs,"3,75,000 - 8,00,000 PA.",Hybrid - Noida,9 Days Ago,"['R', 'Python', 'VBA', 'MATLAB']",3.0,8
3130,Academic Counsellor,https://www.naukri.com/job-listings-academic-c...,Economics Classes,NaN,NaN,2-3 Yrs,"3,00,000 - 3,50,000 PA.",New Delhi(Rohini),10 Days Ago,"['Admission Counselling', 'Academic Administra...",2.0,3
3131,Call Center Agent,https://www.naukri.com/job-listings-call-cente...,Best Placement Services,NaN,NaN,0-5 Yrs,"4,00,000 - 9,00,000 PA.","Mohali/SAS Nagar, Chandigarh, Kharar, Naya Gao...",5 Days Ago,"['International Call Center', 'Calling', 'Call...",0.0,5
3132,Hiring Customer Service Associate- Internation...,https://www.naukri.com/job-listings-hiring-cus...,Best Placement Services,NaN,NaN,0-5 Yrs,"4,00,000 - 9,00,000 PA.","Ludhiana, Mohali/SAS Nagar, Fatehgarh Sahib, C...",9 Days Ago,"['Customer Service', 'Non Voice Process', 'Cal...",0.0,5
3133,Project Manager,https://www.naukri.com/job-listings-project-ma...,Skill Consultancy Services,NaN,NaN,2-6 Yrs,"2,00,000 - 2,50,000 PA.","Jharkhand, Bihar, Assam, Each District, Karnat...",9 Days Ago,"['Communication Skills', 'Microsoft Office App...",2.0,6

In [71]:
list(filtered.groupby('company').count().sort_values('role', ascending=False).index)[:10]

['BAJAJ FINSERVE',
 'Accenture',
 'Serving Skill',
 'Pacific Placements amp; Consultancy',
 'Marriott',
 'SuccessR Hrtech Pvt Ltd',
 'Alp Consulting',
 'RCPC',
 '2coms',
 'Capgemini']